/*
	Copyright © 2021 Leonhart231
	SPDX-License-Identifier: CC-BY-SA-4.0
*/

@import url("../stylesheet.css");

table {
	margin-left: auto;
	margin-right: auto;
}

.thought {
	font-style: oblique;
}

.thought em {
	font-style: normal;
}
